page-modal {
	.closebtn{
		font-size: 30px;
	}
	.callimg{
		height: 20px;
    	width: 20px;
	}
	.callcol{
	    align-items: center!important;
	    justify-content: center!important;
	    text-align: left!important;
	}
	p:hover{
		color: blue;
		text-decoration: underline;
	}
}
