page-configura {

	.variant{
		font-variant: small-caps;
	}
	.parag{
		text-align: center;
	}
	.divslide{
		background-color: white;
		// min-height: 50px;
	}
	.slider-pager-page {
	  color: white !important;
	}
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
	    left: 0;
	    bottom: 30px;
	    width: 100%;
	}
	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	    margin: 0 5px;
	    height: 11px;
	    width: 11px;
	    margin-bottom: 20px;
	}
	.swiper-pagination-bullet-active {
	    background: #333333;
	    opacity: 1;
	}
	h1 {
	    height: 150px;
	    width: 25%;
	    color: #FF6702;
	    font-size: 6.6em;
	    font-family: 'Din-Regular', Sans-Serif;
	    font-weight: bold;
	    margin: 0px;
	    padding: 0px;
	}
	@font-face {
		font-family: 'Din-Regular', Sans-Serif;
		src: url('assets/fonts/DINR____.TTF');
	}

}
