<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header title=""> </header> 
<ion-content class="padding-top" scrollY="true" style="height: 95vh;">
  <ion-grid class="headuser">
    <ion-row>
      <ion-col col-1 col-xl-1 style="text-align: center!important">
          <ion-icon name="ios-arrow-back" class="backicon" (click)="goback()"></ion-icon>
      </ion-col>
      <ion-col col-9 col-xl-9>
          <p class="chathead"><b style="color: #5BA870;">{{name}}</b><br/>Offline now</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="message-wrap">
    <div *ngFor="let msg of msgArray"
         class="message"
         [class.left]=" msg.idremitente === toUser.id"
         [class.right]=" msg.idremitente === user ">
         
      <img class="user-img" alt="" src="assets/imgs/Marqueta/dgs.png" *ngIf="msg.idremitente === user">
      <img class="user-img" alt="" src="assets/imgs/Marqueta/ad.png" *ngIf="msg.idremitente === toUser.id">
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.mensaje}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg.hora}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-grid >
    <ion-row>
      <ion-col col-11 col-xl-11>
        <ion-textarea type="text" #chat_input
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()" placeholder="Enviar mansaje..." [(ngModel)]="message" class="textmsg"></ion-textarea>
      </ion-col>
      <ion-col col-1 col-xl-1>
        <img src="assets/imgs/Marqueta/send-button.png" (click)="sendMsg(editorMsg)">
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>
