<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>
 -->
<header title=""> </header> 
<ion-content class="padding-top">
	<ion-grid>
		<ion-row>
			<ion-col>
				<!-- <ion-label>Travel Agent: Name Lastname</ion-label> -->
				<!-- <ion-item> -->
				  <ion-label stacked class="lbl">Travel Agent: {{nickname}}</ion-label>
				  <!-- <ion-input type="tel"></ion-input> -->
				<!-- </ion-item> -->
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
    	<ion-row *ngFor="let message of messages">
      
	      	<ion-col col-9 *ngIf="message.from !== nickname" class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
		        <!-- <img src="assets/imgs/ic_sender.9.png"/> -->
		        	<div class="time">{{message.created | date:'dd MMM., hh:MM a'}}</div>
		        	<span class="user_name">{{ message.from }}:</span><br>
		        	<span>{{ message.text }}</span>
		        	
		    	<!-- </img> -->
	      	</ion-col>
	 
	      	<ion-col offset-3 col-9 *ngIf="message.from === nickname" class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
	      		<!-- <img src="assets/imgs/ic_receiver.9.png"/> -->
	      			<div class="time">{{message.created | date:'dd MMM., hh:MM a'}}</div>
			        <span class="user_name">{{ message.from }}:</span><br>
			        <span>{{ message.text }}</span>
			        
		        <!-- </img> -->
	      	</ion-col>
 
    	</ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <!-- <ion-item no-lines> -->
          <ion-input type="text" placeholder="Write here..." [(ngModel)]="message" class="sendmsg"></ion-input>
        <!-- </ion-item> -->
      </ion-col>
      <ion-col col-3>
      	<ion-icon ios="ios-play" md="md-play" (click)="sendMessage()" class="icons"></ion-icon>
        <!-- <button ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
        Send
      </button> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
