<!-- Generated template for the HeaderComponent component -->
<!-- <div>
  {{text}}
</div> -->


<ion-header>
  <ion-navbar>   
  	<ion-buttons text-center>
		<button ion-button> <img src="assets/imgs/Marqueta/logo_2.png"></button>
	</ion-buttons>
   
    <!-- <ion-title text-center> {{title}} </ion-title> -->
    <!-- <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button> -->
  <ion-buttons end>
		<button ion-button menuToggle> <img src="assets/imgs/Marqueta/menu.png"></button>
	</ion-buttons>
	<!-- <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header> 
