header {

	[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
 	   background: #F3F3F3;
	}
	.bar.bar-stable {
	    border-color: #F3F3F3;
	    background-color: #F3F3F3;
	    background-image: linear-gradient(0deg, #F3F3F3, #F3F3F3 50%, transparent 50%);
	    color: #444;
	}
}
