page-usefulinfo {
	.maincontent{
		// margin-top: 70px !important;
		height: 95vh;
		padding: 30px!important;
	}
	.header6{
		text-align: center;
		color: #484848;
		font-weight: 400;
	}
	.borderdrop{
		    border: 1px solid;
	}
	.border{
		border-right: 1px solid;
	}
	.bordertop{
		border-top: 1px solid #C5C5C5;
	} 
	.item-datetime .label-md {
	    color: #222;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #222;
	}
	.iconfix{
		// border: 1px solid;
		// height: 100%;
		text-align: center;
	}
	// .iconsize{
	//     font-size: 40px !important;
	// }
	.ionrow{
		max-height: 30px;
	}
	.ionlbl{
		margin: 0px;
	}
	.text-input-md{
	    margin: 0px !important;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	}
	.text-input-ios{
	    margin: 0px !important;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	}
	.text-input-wp{
	    margin: 0px !important;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    border: 0px solid rgba(0, 0, 0, 0.5);
		line-height: 0rem;
	}
	.oddcolor{
		background-color: #EDECED;
	}
	.evencolor{
		background-color: #DFDFDF;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid rgb(222, 222, 222);
	}
	.item-ios.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid rgb(222, 222, 222);
	}
	.item-wp.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid rgb(222, 222, 222);
	}
	.select-md .select-icon .select-icon-inner {
	    color: #222;
	}
	.select-ios .select-icon .select-icon-inner {
	    color: #222;
	}
	.select-wp .select-icon .select-icon-inner {
	    color: #222;
	}
	[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
	    margin-top: 10px;
	}
}	
