<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="headerdisplay">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="padding-bottom has-header" scrollY="false">

	<form [formGroup]="resetForm" (submit)="reset()" class="list center-form">  
		<img src="assets/imgs/Marqueta/logo.png" class="center loginimg">
		<br/>
		<br/>
		<br/>
		<br/>
		<ion-item class="itemclr"> 
	      	<ion-label stacked>Please Enter Your Rut</ion-label>           
	        <ion-input type="text"  formControlName="rut" [class.invalid]="!resetForm.controls.rut.valid && resetForm.controls.rut.dirty" (keypress)="onChange($event)"></ion-input>
	    </ion-item>
	     <div *ngIf="!resetForm.controls.rut.valid  && resetForm.controls.rut.dirty">
	      	<p class="parag">Please enter a valid rut.</p>
	    </div>
	    <br/>
	    <div class="error-message">
			{{error}}
		</div>	
	    <br/>
	    <br/>
	    <br/>
		<button ion-button type="submit" class="center btn" [disabled]="!resetForm.valid">restablecer</button>
	</form>
	<ion-footer class="footer hideElementOnKeyboardShown hide-on-keyboard-open applyFooter">
	  <a href="http://gearlabs.cl/" onclick="window.open(this.href, '_blank', 'location=no'); return false;"><img class="footerlogo" src="assets/imgs/Marqueta/paer.png"></a>
	</ion-footer>
</ion-content>
