page-password {

	.toolbar-background-ios {
	    background: #F8F9FB !important;
	}

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.btn{
	    border-radius: 20px;
	    width: 50%;
	    overflow: hidden;
	    height: 3.6rem;
	    font-size: 16px;
	    font-weight: 400;
	    // text-transform: uppercase;
	    font-variant: small-caps;
	    color: #CB0D12;
	    background-color: transparent;
	    border: 1px solid #989898;
	    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	    // margin: 0.4rem 0.2rem;
	    // padding: 0 1.1em;
	}
	.container .btn:hover{
		background-color: #008B7D;
	}
	.loginimg{
		margin-top: 30px;
	}
	.padding-bottom{
		margin-top: 20px;
		background-color: #F2F2F2;
	}
	.ion-input:hover{
		background-color: #CB0D12;
	}
	.parag{
		text-align: center;
		color: red;
	}
	.forgotpwd{
		padding-left: 20px;
    	font-size: 14px;
    	color: #424242;
	}
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
	    color: #424242;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #424242;
	}
	.item-input .label-wp, .item-select .label-wp, .item-datetime .label-wp {
	    color: #424242;
	}	
	ion-content {
    	margin-top: 0px!important;
	}
	.itemclr{
		background-color: #F2F2F2;
		max-width: 96%;
	}
	.button-md.activated{
		background-color: transparent;
	}
	.button-ios.activated{
		background-color: transparent;
	}
	.button-wp.activated{
		background-color: transparent;
	}
	.label-md[stacked] {
	    font-size: 20px !important;
	}
	.label-ios[stacked] {
	    font-size: 20px !important;
	}
	.label-wp[stacked] {
	    font-size: 20px !important;
	}
	.footer{
		position: fixed;
	   	left: 0;
	   	bottom: 0;
	   	width: 100%;
	}
	// body.keyboard-is-open .hideElementOnKeyboardShown{
	//     display: none;        
	// }
	// body.keyboard-is-open ion-footer {
	//   display: none;
	// }

	// body.keyboard-is-open .scroll-content {
	//   margin-bottom: 0 !important;
	// }

	// body.keyboard-is-open .fixed-content {
	//   margin-bottom: 0 !important;
	// }

	// body.keyboard-is-open .applyFooter{
	//         display: none;
	//         bottom: 0;
	// }
}
